<footer class="footer bg-[#f1f3f2] py-11">
    <div class="container pb-9">
        <h2 class="footer__title font-bold">Get the FreshCart app</h2>
        <p class="footer__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis velit reprehenderit maiores.</p>
            <div class="footer__scrip pt-3">
                <input type="email" class="w-5/6 border-indigo-300 rounded-md h-9">
                <button class="ms-5 text-purple-700 bg-slate-300 rounded-md h-8 w-44"> Share App Link</button>
            </div>
            <div class="footer__payment border-y-2  border-indigo-300 mt-9 pt-5 pb-5 flex justify-between ">
                <div class="flex">
                <p class="mx-6">payment Partners </p>
                <div>
                    <ul class="flex gap-x-2">
                        <li><i class="fa-brands fa-amazon"></i></li>
                          <li> <i class="fa-brands fa-amazon-pay"></i></li> 
                          <li><i class="fa-brands fa-discord"></i></li>
                          <li><i class="fa-brands fa-cc-amex"></i></li>
                          <li><i class="fa-brands fa-cc-paypal"></i></li>
                    </ul>
                </div>  
                </div>
                <div class="flex ">
                    <p class="pe-3">Get deliveries with FreshCart</p>
                    <ul class="flex gap-2">
                        <li><i class="fa-brands fa-google-play"></i></li>
                        <li><i class="fa-brands fa-apple-pay"></i></li>
                    </ul>
                </div>
              
            </div>
            </div>
    
</footer>