
<div class="flex">
 <div class=" grid grid-cols-2">
    <div>
   <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="images/slider-image-3.jpeg" class="h-[500px] w-[600px]" alt=""></ng-template>   
  <ng-template carouselSlide><img src="images/slider-image-2.jpeg" class="h-[500px] w-[600px]" alt=""></ng-template>  
 </owl-carousel-o>      
    </div>

<div>
<img src="images/slider-image-2.jpeg" class="h-[250px] w-[300px]" alt="">
<img src="images/slider-image-3.jpeg" class="h-[250px] w-[300px]" alt="">
</div>

</div>
</div>